*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem을 10px로 변환 (원래는 16px) */
}

body {
  margin: 0;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

header {
  width: 100%;
  padding: 2rem;
  background-color: rgb(67, 50, 113);
  color: white;
  font-size: 4rem;
}

.search-container {
  margin: 5rem;
  width: 20rem;
  background-color: rgb(245, 220, 247);
}

.card-list {
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
}

.card {
  width: 28rem;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  font-size: 3rem;
}
